<div class="container" style="margin-top: 15em;">
    <div class="row" style="text-align: center;">
      <div class="col-sm" style="border: 2px solid #CFE2FF; border-radius: 5px; padding: 20px; margin-right: 20px;">
        <h3>Pregled vašeg računa</h3><br>
        <p>Ovdje možete pregledati vaš račun, knjige koje trenutno posjedujete, te
            povijest posudbi svih knjiga iz naše knjižnice koje se vršili. <br><br>
        </p><br>
        <button type="button" class="btn btn-primary" (click)="redirectProfil()">Pregled profila</button>
      </div>
      <div class="col-sm" style="border: 2px solid #CFE2FF; border-radius: 5px; padding: 20px; margin-right: 20px;">
        <h3>Pregled dostupnih knjiga u našoj knjižnici</h3><br>
        <p>Pogledajte trenutno dostupne knjige koje nudimo za posudbu u našoj knjižnici. Nakon što posudite knjigu, dok ju ne vratite,
          knjiga neće biti dostupna drugim korisnicima na posudbu.
        </p><br>
        <button type="button" class="btn btn-warning" (click)="redirectKnjige()">Pregled knjiga</button>
      </div>
      <div class="col-sm" style="border: 2px solid #CFE2FF; border-radius: 5px; padding: 20px;" *ngIf="loggedUser.permission == 1">
        <h3>Administracija</h3><br>
        <p>Ovdje možete ručno dodavati knjige u katalog knjižnice, također ovdje možete i micati knjige iz kataloga. Kao administrator, također možete
          vršiti pregled tuđih profila, te vidjeti povijest posudbi i trenutne posudbe knjiga tih korisnika.
        </p><br>
        <button type="button" class="btn btn-dark" (click)="redirectAdmin()">Pregled knjiga</button>
      </div>
    </div>
  </div>