<button class="btn btn-primary" (click)="redirectMenu()">« Nazad na admin menu</button>  <hr>
<button type="button" class="btn btn-light" (click)="changeTab(0)" style="margin-right: 1em; margin-left: 40%;">Trenutne posudbe</button>
<button type="button" class="btn btn-light" (click)="changeTab(1)" style="margin-right: 1em;">Povijest svih posudbi</button> <hr><br><br>

<div *ngIf="tab == 0">
  <table *ngIf="posudbe.length > 0">
      <th>Autor</th>
      <th>Zemlja podrijetla</th>
      <th>Jezik knjige</th>
      <th>Link na Wiki</th>
      <th>Broj stranica</th>
      <th>Naslov knjige</th>
      <th>Godina izdanja</th>
      <th></th>
      <tr *ngFor="let i = index; let book of posudbe | searchFilter: search">
        <ng-container *ngIf="book.username == currentUser">
          <td>{{ book.book.author }}</td>
          <td>{{ book.book.country }}</td>
          <td>{{ book.book.language }}</td>
          <td>{{ book.book.link }}</td>
          <td>{{ book.book.pages }}</td>
          <td>{{ book.book.title }}</td>
          <td>{{ book.book.year }}</td>
      </ng-container>
      </tr>
  </table>
</div>

<div *ngIf="tab == 1">
  <input *ngIf="posudbeHistory.length > 0" type="text" class="form-control" [(ngModel)]="search" placeholder="Unesite bilo koji keyword za filtraciju sadržaja" style="width: 30em"> <br>
  <table *ngIf="posudbeHistory.length > 0">
      <th>Autor</th>
      <th>Zemlja podrijetla</th>
      <th>Jezik knjige</th>
      <th>Link na Wiki</th>
      <th>Broj stranica</th>
      <th>Naslov knjige</th>
      <th>Godina izdanja</th>
      <th></th>
      <tr *ngFor="let i = index; let book of posudbeHistory | searchFilter: search">
        <ng-container *ngIf="book.username == currentUser">
          <td>{{ book.books.author }}</td>
          <td>{{ book.books.country }}</td>
          <td>{{ book.books.language }}</td>
          <td>{{ book.books.link }}</td>
          <td>{{ book.books.pages }}</td>
          <td>{{ book.books.title }}</td>
          <td>{{ book.books.year }}</td>
        </ng-container>
      </tr>
  </table>
</div>